conf/analyzer_config_prod.yml
conf/log_config_prod.yml
conf/processing_config_prod.yml
conf/receiver_config_prod.yml
conf/storage_config_prod.yml
conf/consistency_check_config_prod.yml
data
logs
scripts
.env
terraform
ansible

### full back 
# data/database
# data/kafka
# teffraform/terraform.tfstate
# terraform/terraform.tfstate.backup
# terraform/.terraform
# terraform/.terraform.lock.hcl